.btn {
  display: inline-block;
  padding: 13px 35px;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-main {
  background-color: $brand-main;
  color: $white;
}

.btn-lg {
  padding: 18px 40px;
}
