.squares {
  width: 80%;
  border: 1px solid #000;
  padding: 10px;
  margin: 0 auto;
}

.squares .square-magenta {
  width: 200px;
  height: 200px;
  background: turquoise;
  border: 1px solid #000;
  background-color: magenta;
}

.squares .square-peru {
  width: 200px;
  height: 200px;
  background: turquoise;
  border: 1px solid #000;
  background-color: peru;
}

.squares .square-purple {
  width: 200px;
  height: 200px;
  background: turquoise;
  border: 1px solid #000;
  background-color: purple;
}

.circles {
  width: 75%;
  border: 2px dotted brown;
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
}

.circles .circle-red {
  width: 200px;
  height: 200px;
  background: #800080;
  border: 3px solid #FF0000;
  border-radius: 50%;
  background-color: red;
  border-color: blue;
}

.circles .circle-green {
  width: 200px;
  height: 200px;
  background: #800080;
  border: 3px solid #FF0000;
  border-radius: 50%;
  background-color: green;
}

.circles .circle-blue {
  width: 200px;
  height: 200px;
  background: #800080;
  border: 3px solid #FF0000;
  border-radius: 50%;
  background-color: blue;
}
