body {
    text-align: center;
  }



 @media all (max-width: 600px) {
   picture {display:block;margin:0 auto; text-align:center;
}

 @media all (max-width: 768px) {
    picture {display:block;margin:0 auto;text-align:center;
}
 }
    @media all (max-width: 992px) {
        picture {display:block;margin:0 auto;text-align:center;
    }
}