@import '_spacing';

body {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

.box-1 {
  margin-top: $sm + ($xs / 2);
  padding-left: $sm - 2;
}

.box-2 {
  margin: ($md + $md) $xl $sm $xl;
  padding: ($xs + $sm) / 2;
}

.box-3 {
  padding: $lg - 2 0 0 0;
  border-width: $sm / 4;
  margin-right: $lg / 16;
}

.box-4 {
  margin-top: ($lg+$lg)+$xs / 2 +$xs; 
  border-width:  $sm / 4;
  padding: $sm+$xs;
}

.box-5 {
  margin-top: ($lg+$lg)-$xs;
  margin-bottom: ($lg+$lg)-$xs;
  margin-left: $xs / 2;
  margin-right:$xs / 2; ;
  border-width: ($sm + $sm) / 4;
  padding-left: $sm+ ($xs / 2);
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}