@import 'spacing';

body {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

.box-1 {
  margin-top: $sm + ($xs / 2);
  padding-left: $sm -2;
}

.box-2 {
  margin: ($md+ $md) $sm $xl $xl;
  padding: ($xs +$sm) /2;
}

.box-3 {
  padding: $lg - 2 0 0 0;
  border-width: $sm / 4;
  margin-right: $lg / 16;

}

.box-4 {
  margin-top: $lg; 
  border-width: $md;
  padding: 25px;
}

.box-5 {
  margin: $sm $xl;
  border-width: $md; 
  padding: $lg;
}
