$link-color: red; 
$link-visited: purple;

$ol-link-color: magenta;
$ol-link-active: pink;
$ol-link-visited: lightcoral;

ul {
  a {
    text-decoration: none;
    color: $link-color;
   
    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: $link-visited;
    }
  }
}

ol {
  a {
    color: $ol-link-color;

    &:active {
      color: $ol-link-active;
    }

    &:visited {
      color: $ol-link-visited;
    }

    .all-visited & {
      text-decoration: line-through;
    }
  }
}

.para {
  padding: 10px 20px;

  .reverse & {
    width: 50%;
    margin: 0 auto;
  }
}

.para-short {
  width: 50%; 
  margin: 0 auto; 

  .reverse & {
    width: 100%;
  }
}