.my-square {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.my-diamond {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  transform: rotate(45deg);
  border-radius: 40px;
  margin: 45px;
}

.my-circle {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
