.home-social {
    text-align: center;
    margin-bottom: 70px;

    h1 {
        font-size: 35px;
        color: $brand-main;
        font-weight: 300;
        span {
            font-weight: 500;
        }
    }
    
}

.social-icons {
    display: flex;
    justify-content: space-around;
    li {
        display: inline-block;
    }

    a {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: $gray-secondary;
        border: 1px solid $gray-secondary;
        border-radius: 50px;
        font-size: 23px;
}
}