.home-stores {
  $border-radius: 18px;

  margin-bottom: 70px;

  h1 {
    font-size: 41px;
    color: $gray-tertiary;
  }

  .stores-long-description {
    display: none;
  }

  .stores-short-description {
    border: 1px solid $gray-secondary;
    padding: 12px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    text-align: center;

    img {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    p {
      width: 280px;
      text-align: left;
      font-size: 14px;
      font-weight: 300;
      display: inline-block;
      margin-top: 15px;
    }

    ul {
      display: inline-flex;
      justify-content: space-between;
      width: 280px;

      a {
        color: $brand-main;
        font-size: 12px;
      }
    }
  }
}